.vs/

*.com
*.class
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.suo
*.psess
*.docstates

**/packages/
**/publish/
*.user

UpgradeLog.XML
_UpgradeReport_Files/

bin/
obj/
TestResults/

*/bin/
*/obj/
*/TestResults/

